<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="{{settings.align}}" width="{{width}}" style="border-spacing:0; width:100%; {{centerImage settings.align}} max-width:{{width}}px;">
                {{> children}}

            </table>
        </td>
    </tr>
</table>