<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="{{spacing}}" width="100%" style="font-size: {{spacing}}px; line-height: {{spacing}}px;">&nbsp;

        </td>
    </tr>
</table>